<section class="taskbox">
  <h3>Current Tasks</h3>
    <div class="taskclass">
      <h4>High Priority</h4>
        <ul class="tasklist">
          <li ng-repeat="task in main.tasks" ng-hide="(task.priority !== 'High')||(task.expired || task.completed )">
            <h4>{{ task }}</h4>
            <input type="checkbox" ng-model="task.completed" ng-change="main.completedTask(task)">
          </li>
        </ul>
    </div>
    <br />
    <br />
    <div class="taskclass">
      <h4>Medium Priority</h4>
        <ul class="tasklist">
          <li ng-repeat="task in main.tasks" ng-hide="(task.priority !== 'Medium')||(task.expired || task.completed )">
            <h4>{{ task }}</h4>
            <input type="checkbox" ng-model="task.completed" ng-change="main.completedTask(task)">
          </li>
        </ul>
    </div>
    <br />
    <br />
    <div class="taskclass">
      <h4>Low Priority</h4>
        <ul class="tasklist">
          <li ng-repeat="task in main.tasks" ng-hide="(task.priority !== 'Low')||(task.expired || task.completed )">
            <h4>{{ task }}</h4>
            <input type="checkbox" ng-model="task.completed" ng-change="main.completedTask(task)">
          </li>
        </ul>
    </div>
    <br />
    <br />
</section>

<section class="formbox">
  <form class="addform">
    <input placeholder="Add a task" ng-model="main.newTask"/>
    <select ng-model="main.setPriority">
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
    </select>
    <button class="btn btn-primary" type="button" ng-click="main.addTask(main.newTask)">Add Task</button>
  </form>
</section>
